name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Publish
        run: dotnet publish -c Release -o publish

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: DockerFile
          push: true
          tags: poolbac/poolupaspbackend:latest

      - name: Deploy on DigitalOcean Droplet
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: 159.89.104.146
          username: root
          key: ${{ secrets.DIGITALOCEAN_SSH_KEY }}
          port: 22
          timeout: 30s
          script: |
            docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" -p "${{ secrets.DOCKER_HUB_PAT }}"
            cd ~/myapps/poolUpAspBackend
            docker pull poolbac/poolupaspbackend:latest
            docker stop myapi || true
            docker rm myapi || true
            docker run -d --name myapi -p 5000:5000 poolbac/poolupaspbackend:latest
