name: Build & Deploy ASP.NET Core to DigitalOcean

on:
  push:
    branches: [ "master" ]
  pull_request:
    types: [closed]
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
 
      - name: Checkout code
        uses: actions/checkout@v3

 
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

 
      - name: Restore
        run: dotnet restore

 
      - name: Build
        run: dotnet build --configuration Release --no-restore

 
      - name: Publish
        run: dotnet publish -c Release -o publish

    
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

     
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest .

      
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest

   
      - name: Deploy on DigitalOcean Droplet
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: 159.89.104.146         
          username: root
          key: ${{ secrets.DIGITALOCEAN_SSH_KEY }}
          port: 22
          timeout: 30s
          script: |
            # LOGIN TO DOCKER HUB INSIDE DROPLET
            echo "${{ secrets.DOCKER_HUB_PAT }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

            # Create and enter app folder
            mkdir -p ~/myapps/poolUpAspBackend
            cd ~/myapps/poolUpAspBackend

            # Pull latest Docker image
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest

            # Stop old container if running
            docker stop myapi || true
            docker rm myapi || true

            # Run container (map your actual app port)
            docker run -d --name myapi -p 5000:5000 ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest

        command_timeout: 15m
