name: CI/CD Pipeline

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository code
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Setup .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      # 3. Restore dependencies
      - name: Restore
        run: dotnet restore

      # 4. Build project
      - name: Build
        run: dotnet build --configuration Release --no-restore

      # 5. Publish project
      - name: Publish
        run: dotnet publish -c Release -o publish

      # 6. Login to Docker Hub on GitHub runner
      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      # 7. Build Docker image
      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest -f Dockerfile .


      # 8. Push Docker image
      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest

      # 9. Deploy to DigitalOcean via SSH
      - name: Deploy on DigitalOcean Droplet
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: 159.89.104.146
          username: root
          key: ${{ secrets.DIGITALOCEAN_SSH_KEY }}
          port: 22
          timeout: 30s
          script: |
            docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" -p "${{ secrets.DOCKER_HUB_PAT }}"
            cd ~/myapps/poolUpAspBackend
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest
            docker stop myapi || true
            docker rm myapi || true
            docker run -d --name myapi -p 5000:5000 ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest
