      - name: Deploy on DigitalOcean Droplet
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: 159.89.104.146         
          username: root
          key: ${{ secrets.DIGITALOCEAN_SSH_KEY }}
          port: 22
          timeout: 30s
          script: |
            # LOGIN TO DOCKER HUB INSIDE DROPLET
            echo "${{ secrets.DOCKER_HUB_PAT }}" | docker login -u "${{ secrets.DOCKER_HUB_USERNAME }}" --password-stdin

            # Create and enter app folder
            mkdir -p ~/myapps/poolUpAspBackend
            cd ~/myapps/poolUpAspBackend

            # Pull latest Docker image
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest

            # Stop old container if running
            docker stop myapi || true
            docker rm myapi || true

            # Run container (map your actual app port)
            docker run -d --name myapi -p 5000:5000 ${{ secrets.DOCKER_HUB_USERNAME }}/myapi:latest
